:root {
    --color-princial: #c92b39;
    --color-principal-oscuro: #8E151E;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

.header-bottom {
    background-color: var(--color-princial);
}

    .header-bottom.header-bottom-admin {
        background-color: black;
    }

footer {
    background-color: var(--color-principal-oscuro);
}

    footer.footer-admin {
        background-color: black;
    }

.acount_icon {
    color: white;
}

    .acount_icon svg {
        height: 1.5rem;
        width: auto;
    }

    .acount_icon:hover {
        color: white;
    }

.nav-logo {
    height: fit-content;
    padding: 0;
}

    .nav-logo img {
        max-width: 100%;
        height: 3rem;
    }

.copyright-text p {
    color: white;
}

.hamburger-menu {
    color: white;
}
