@{
    ViewData["Title"] = "Rubros";
}

<div class="border-button">
    <h1>
        Rubros
    </h1>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-lg-4 p-2">
        <div class="card">
            <img src="~/img/rubros/reformas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title mb-5">REFORMAS</h3>
                <a href="#" class="btn btn-primary">VER SERVICIOS</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 p-2">
        <div class="card">
            <img src="~/img/rubros/jardineria.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title mb-5">JARDINERÍA</h3>
                <a href="#" class="btn btn-primary">VER SERVICIOS</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 p-2">
        <div class="card">
            <img src="~/img/rubros/mascotas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title mb-5">MASCOTAS</h3>
                <a href="#" class="btn btn-primary">VER SERVICIOS</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 p-2">
        <div class="card">
            <img src="~/img/rubros/vehiculos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title mb-5">VEHÍCULOS</h3>
                <a href="#" class="btn btn-primary">VER SERVICIOS</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 p-2">
        <div class="card">
            <img src="~/img/rubros/cuidado.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title mb-5">CUIDADO PERSONAL</h3>
                <a href="#" class="btn btn-primary">VER SERVICIOS</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 p-2">
        <div class="card">
            <img src="~/img/rubros/eventos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title mb-5">EVENTOS</h3>
                <a href="#" class="btn btn-primary">VER SERVICIOS</a>
            </div>
        </div>
    </div>
</div>