@{
    ViewData["Title"] = "Inicio";
}

<!--Banner Area Start -->
<section class="banner-area pt-3 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="banner-area__content">
                    <h2>
                        Encontrá al profesionales que necesitas para tu hogar.
                    </h2>
                    <p>+150 profesionales disponibles</p>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="banner-area__img">
                    <img src="https://img.freepik.com/vector-gratis/acuerdo-comercial-concepto-trato_140689-2883.jpg?w=2000" 
                         alt="banner-img" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!--Banner Area End -->

<!-- Features Section Start -->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Últimos añadidos</h2>
                </div>
            </div>
        </div>
        <div class="features-wrapper">
            <div class="features-active">
                <div class="product-item">
                    <div class="product-item-image">
                        <a href="">
                            <img src="https://img.freepik.com/foto-gratis/trabajador-construccion-electricista-barba-monos-instalacion-enchufes-concepto-renovacion-hogar_169016-7330.jpg?w=2000" alt="Product Name"
                                 class="img-fluid">
                        </a>
                    </div>
                    <div class="product-item-info">
                        <a href="">Título del servicio</a>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item-image">
                        <a href="">
                            <img src="https://www.paginasamarillas.com.ar/imagenes/pipe/AVI15833/15833572/josee.jpg" alt="Product Name"
                                 class="img-fluid">
                        </a>
                    </div>
                    <div class="product-item-info">
                        <a href="">Título del servicio</a>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item-image">
                        <a href="">
                            <img src="https://img.freepik.com/foto-gratis/trabajador-construccion-electricista-barba-monos-instalacion-enchufes-concepto-renovacion-hogar_169016-7330.jpg?w=2000" alt="Product Name"
                                 class="img-fluid">
                        </a>
                    </div>
                    <div class="product-item-info">
                        <a href="">Título del servicio</a>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item-image">
                        <a href="">
                            <img src="https://www.paginasamarillas.com.ar/imagenes/pipe/AVI15833/15833572/josee.jpg" alt="Product Name"
                                 class="img-fluid">
                        </a>
                    </div>
                    <div class="product-item-info">
                        <a href="">Título del servicio</a>
                    </div>
                </div>
            </div>
            <div class="slider-arrows">
                <div class="prev-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828"
                         viewBox="0 0 9.414 16.828">
                        <path id="Icon_feather-chevron-left" data-name="Icon feather-chevron-left"
                              d="M20.5,23l-7-7,7-7" transform="translate(-12.5 -7.586)" fill="none"
                              stroke="#1a2224" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                    </svg>
                </div>
                <div class="next-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828"
                         viewBox="0 0 9.414 16.828">
                        <path id="Icon_feather-chevron-right" data-name="Icon feather-chevron-right"
                              d="M13.5,23l5.25-5.25.438-.437L20.5,16l-7-7" transform="translate(-12.086 -7.586)"
                              fill="none" stroke="#1a2224" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->
