@model Matchbox.Models.EmpresaViewModel

@{
    //ViewData["Title"] = "Editar perfil de cliente";
}

<div class="row mt-3">
    <h3 class="text-center">Perfil eliminado correctamente.</h3>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }