@model Matchbox.Models.ClienteViewModel

@{
    ViewData["Title"] = "Editar perfil de cliente";
}

@if (ViewBag.ShowOptions)
{
    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" asp-controller="Usuarios" asp-action="Index">Editar</a>
            <a class="btn btn-danger" asp-controller="Usuarios" asp-action="Index">Eliminar</a>
        </div>
    </div>
}

<div class="row mt-3">
    @if (!string.IsNullOrEmpty(Model.FotoPerfilPath))
    {
        <div class="col-12 col-md-2">
            <div class="ratio ratio-1x1">
                <img src="~/img/user-profile/@Model.FotoPerfilPath" class="img-thumbnail" style="object-fit: cover;">
            </div>
        </div>
    }
    <div class="col-12 col-md-10">
        <h2>
            @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)
        </h2>
        <div>
            @Html.DisplayFor(model => model.Localidad) @Html.DisplayFor(model => model.Provincia)
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
